/* --------------------------- fonts imported here  -----------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* ------------------------------  css for whole page starts here ------------------------------ */
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.button-63 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 17px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 12px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    border: 1px solid black;
  }
  
.button-63:active,
.button-63:hover {
    outline: 0;
  }
.button-63:hover{
    background-image: linear-gradient(
        222deg,#AF40B0, #5B42F3 50%,#00DDEB);
}
.donate-button{
    background-color: purple;
    font-weight: bolder;
    /* padding: 4px; */
    border-radius: 10px;
    color: white !important;
    font-size: 22px;
    box-shadow: 5px royalblue;
}
/* ------------------------------ css for whole page ends here ------------------------------ */

/* ------------------------------  css for navbar starts here ------------------------------ */
.navbar{
    font-weight: bold;
}
.logo{
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ------------------------------  css for navbar ends here ------------------------------ */

/* ------------------------------  css for showcase starts here  ------------------------------ */
.showcase-text{
    font-weight: bolder;
    top: 67%;
    right: -750px;
   
}
.showcase-text h2{
    background-color: red;
    background: rgb(255,129,0);
    background: linear-gradient(90deg, rgba(255,129,0,1) 48%, rgba(255,0,0,1) 100%);
    background: rgb(255,129,0);
    background: radial-gradient(circle, rgba(255,129,0,1) 48%, rgba(255,0,0,1) 100%);
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);

    display: inline-block;
    width: 260px;
    padding: .7rem;
    font-family: 'Pacifico', cursive;
    border-radius: 20px;
    border: 2px solid white;
}
.showcase-image{
    height: 650px;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    object-fit: cover;
}

/* ------------------------------  css for showcase ends here ------------------------------ */

/* ------------------------------  css for our vison section starts here ------------------------------ */
.vison-button{
    padding: 7px 50px;
    font-weight: bold;
    color: white !important;
    border-radius: 25px;
    display: inline-block;
    font-size: 28px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: 'lobster', cursive;
    font-weight: bolder;
}
.card-img-top{
    height: 175px;
}
.card{
    border: 2px solid purple;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);

}
.card img{
    padding: 1px;
    border-radius: 15px 15px 5px 5px;
}
.card-title{
    font-family: 'lobster', cursive;
    text-decoration: underline;
    text-decoration-color: purple;
}
.card-img{
    overflow: hidden;
    border-radius: 15px 15px 5px 5px;
}

.card img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
  }
.card:hover img {
    filter: brightness(100%);
    transform: scale(2);
  }
 
/* ------------------------------  css for our vison section ends here ------------------------------ */

/* ------------------------------ css for our team section starts here ------------------------------ */
section.our-team {
    padding: 70px 0px;
    background-color: whitesmoke;
    text-align: center;
    color: #fff;
}
.our-team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    border-radius: 100%;
    border: 4px solid blue;
}
.our-team .member:hover {
    box-shadow: 0px 10px 0px 0px #795548;
    box-shadow: 0px 10px 0px 0px rgb(4, 37, 184);
}
.our-team .member .member-info {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.our-team .member .member-detail {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
.our-team .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
}
.our-team .member .social a {
    margin: 0 10px;
    display: inline-block;
    color: #fff;
}
.our-team .member .social a:hover {
    color: #cda45e;
}
.our-team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}
.our-team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.57) 20%, rgba(121, 85, 72, 0.09) 100%);
    opacity: 1;
    transition: 0.4s;
}
.our-team .member:hover .member-detail {
    bottom: 80px;
}
.our-team .member:hover .social {
    bottom: 10px;
}
.member-detail h4{
    font-size: 21px;
}

.our-team.text-center22{
    align-items: center;
}
.member{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

/* ------------------------------ css for our team section ends here ------------------------------ */

/* ------------------------------  css for contact us section starts here ------------------------------ */
.contact-us{
    margin-right: 10px ;
}
.contact-text{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    display: inline-block;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 60%;
    font-family: Phantomsans, sans-serif;
    font-size: 30px;
    margin-top: 8rem;
}

.contact-text p{
    padding: .5rem 2rem;
}

.contact-main{
    margin: 1rem;
}
.contact-container{
    width: 800px;
    border: .5px solid purple;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.text-area{
    padding: 0px;
}
.text-area textarea{
    height: 100px;
}
.form-group{
    text-align: left;
}
.submit-button{
    display: inline-block;
    color: white !important;
    font: bolder;
    font-family: 'lobster', cursive;
}
/* ------------------------------  css for contact us section ends here -------------------------------------- */

/* ------------------------------  css for footer secrtion starts here ------------------------------ */
.footer-container{
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
}

.footer-container p{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.footer-container a{
    color: yellow;
}
/*------------------- css for footer secrtion ends here ------------------*/

/* ----------------------  mobile css starts -------------------------------- */

@media(max-width:767px){
    .contact-container{
        width: unset;
        margin-left: 0;
        margin-top: 2rem;
        margin-right: 0px;
    }
    .contact-us-section{
        margin-left: -14px;
        padding: 0%;
    }
    .col-md-4.col-12.text-center {
        margin-top: -130px;
    }
    .card col-12{
        margin-left: 0px;
        margin-right: 0px;
    }
    .card{
        width: 21rem !important;
    }
    .col-12{
        padding: 0;
    }
    input, text-area{
        width: 200px;
    }
    .showcase-image{
        width: 96%;
        height: 300px;
        margin-left: 2%;
    }
    .card-img-top{
        height: 215px;
    }
    .our-team .member{
        margin: 17px 3rem;
    }
    .about, .contact-us{
        margin-top: 1rem;
        text-align: center;
    }
    .abs-center-x{
        position: relative;
        transform: none;
        left: 0;
        margin-top: 1rem;
    }
    .contact-text{
        display: none;
    }
    .contact-button{
        margin-bottom: 0px;
        margin-top: 3rem !important;
    }
    .contact-us{
        margin-right: 0;
    }

}

/* only desktop css */

@media (min-width: 768px) {
    .button-63 {
      font-size: 24px;
      min-width: 196px;
    }
  }